<mat-toolbar color="primary">
  <span class="logo">
    <img src="assets/prometheus_logo_grey.svg"/>
  </span>
  <span>Prometheus Demo</span>
</mat-toolbar>

<div class="cont mat-typography" [ngClass]="{'started': started }">
  <mat-card class="demo">
    <mat-card-title>Simulator</mat-card-title>
    <mat-card-subtitle>Distribution</mat-card-subtitle>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span class="slider-label">
            /gcdendpoint1 
          </span>
          <mat-slider [(ngModel)]="distrib1"></mat-slider>
        </mat-list-item>
        <mat-list-item>
          <span class="slider-label">
            /gcdendpoint2 
          </span>
          <mat-slider [(ngModel)]="distrib2"></mat-slider>
        </mat-list-item>
        <mat-list-item>
          <span class="slider-label">
            /gcdendpoint3 
          </span>
          <mat-slider [(ngModel)]="distrib3"></mat-slider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-subtitle>Load</mat-card-subtitle>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span class="slider-label">
            Throughput 
          </span>
          <mat-slider [(ngModel)]="throughput" color="primary"></mat-slider>
        </mat-list-item>
        <mat-list-item>
          <span class="slider-label">
            Difficulty
          </span>
          <mat-slider [(ngModel)]="difficulty" color="primary"></mat-slider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" class="btn-start" mat-button (click)="start()">Start</button>
      <button type="button" class="btn-stop" mat-button (click)="stop()">Stop</button>
    </mat-card-actions>
  </mat-card>
</div>